.image-collage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-collage-container img {
  width: 48%; /* two images per row */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.image-collage-container img:hover {
  transform: scale(1.05);
}
